<!-- Popup newsletter -->
{% if settings.show_newsletter_popup == true %}
  {% form 'customer', id: 'newsletter_contact' %}
    {% if form.posted_successfully? %}
      <div id="popupAlert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
          <div class="modal-content">
            <p class="form--success alert-success text-center mb-0">{{ 'general.newsletter_form.confirmation' | t }}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div id="popup-subscribe" class="{{ settings.newsletter_type }} modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-sm="{{ settings.newsletter_sm }}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" data-dismiss="modal"><i class="zmdi zmdi-close"></i></div>
            <div class="modal-body{% if settings.newsletter_type == 'newsletter' %} row spacing-0 p-0{% else %} text-center{% endif %} overflow-hidden">
              {% if settings.newsletter_type == 'promotion' %}
                {% if settings.newsletter_promoimg != blank %}
                  {% assign img_url = settings.newsletter_promoimg %}
                  <img src="{{ img_url | img_url: '650x' }}" class="img-fluid">
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              {% else %}
                <div class="modal-top col-md-46-32 position-relative d-none d-md-block">
                  {% if settings.bg_newsletter != blank %}
                    {% assign img_url = settings.bg_newsletter %}
                    <div class="respone_image h-100" style="padding-top:{{ 1 | divided_by: img_url.aspect_ratio | times: 100}}%;">
                      <img class="product__thumbnail lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ img_url | img_url: '260x' }}" data-srcset="{{ img_url | img_url: '260x' }} 260w,{{ img_url | img_url: '360x' }} 360w,{{ img_url | img_url: '540x' }} 540w,{{ img_url | img_url: '720x' }} 720w,{{ img_url | img_url: '900x' }} 900w,{{ img_url | img_url: '1080x' }} 1080w,{{ img_url | img_url: '1296x' }} 1296w,{{ img_url | img_url: '1512x' }} 1512w,{{ img_url | img_url: '1728x' }} 1728w, {{ img_url | img_url: '2048x' }} 2048w" data-sizes="auto" alt="{{ img_url.alt }}">
                    </div>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>
                <div class="modal-body_content col-md-53-68">
                  <div class="content mt-30 pt-100 pt-md-50 pb-30">
                    <div class="title_block f_pr c_h font-900 mb-20">{{ settings.title_newsletter }}</div>
                    <div class="desc mb-25">{{ settings.desc_newsletter }}</div>
                    {% if settings.preferences_newsletter %}
                      <div class="preferences mb-20">
                        <h4 class="c_h mb-20">{{ 'general.newsletter_form.product_preferences' | t }}:</h4>
                        <div class="d-flex flex-wrap">
                          <input type="radio" name="contact[note][{{ 'general.newsletter_form.product_preferences' | t }}]" value="{{ 'general.newsletter_form.men' | t }}" id="Newsletter-men">
                          <label for="Newsletter-men">{{ 'general.newsletter_form.men' | t }}</label>
                          <input type="radio" name="contact[note][{{ 'general.newsletter_form.product_preferences' | t }}]" value="{{ 'general.newsletter_form.women' | t }}" id="Newsletter-women">
                          <label for="Newsletter-women">{{ 'general.newsletter_form.women' | t }}</label>
                          <input type="radio" name="contact[note][{{ 'general.newsletter_form.product_preferences' | t }}]" value="{{ 'general.newsletter_form.i_want_it_all' | t }}" id="Newsletter-all">
                          <label for="Newsletter-all">{{ 'general.newsletter_form.i_want_it_all' | t }}</label>
                        </div>
                      </div>
                    {% endif %}
                    {{ form.errors | default_errors }}
                    <div class="input-subscribe-wrap">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email"
                        name="contact[email]"
                        class="inputNew form-control grey newsletter-input"
                        value=""
                        required
                        placeholder="{{ 'general.newsletter_form.email_newsletter' | t }}">
                      <span class="input-group-btn mt-10 d-block">
                        <button id="Subscribe" type="submit" name="commit" class="btn">
                          {{ 'general.newsletter_form.submit' | t }}
                        </button>
                      </span>
                    </div>
                    <div class="checkbox mt-100 pt-md-50 pt-30 pt-sm-0">
                      <label id="myCheck" class="d-inline-flex">
                        <span class="custom-checkbox">
                          <input name="no-view" class="no-view" type="checkbox">
                        </span>
                        <span id="text">{{ settings.notify_newsletter }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endform %}
{% endif %}