{% assign sst = section.settings %}
<div class="distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% if sst.animate == true %} wow fadeInUp animated{% endif %}">
  {% if sst.container == 'container' %}
    <div class="container">
  {% elsif sst.container == 'container-fluid' %}
    <div class="container-fluid">
  {% else %}
    <div class="container-full">
  {% endif %} 
    {% if section.blocks.size > 0 %}
      <div class="nov-text-scroll overflow_hidden d-flex">
        <div class="block-scroll d-flex">
          {% for block in section.blocks %}
            {% assign bst = block.settings %}
            <div class="block-scroll__item {{ sst.t_fw }} d-flex align-items-center justify-content-center">
            {% if bst.icon !=blank %}<i class="{{ bst.icon }}"></i>{% endif %}{{ bst.t }}
            </div>
          {% endfor %}
        </div>
        <div class="block-scroll d-flex">
          {% for block in section.blocks %}
            {% assign bst = block.settings %}
            <div class="block-scroll__item {{ sst.t_fw }} d-flex align-items-center justify-content-center">
            {% if bst.icon !=blank %}<i class="{{ bst.icon }}"></i>{% endif %}{{ bst.t }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Vinova Text Scroll",
    "settings": [
      {
        "type": "range",
        "id": "time",
        "min": 5,
        "max": 60,
        "step": 1,
        "unit": "s",
        "label": "Slide run time",
        "default": 10
      },
      {
        "type":  "header",
        "content": "Style item"
      },
      {
        "type": "range",
        "id": "t_s",
        "min": 10,
        "max": 50,
        "step": 1,
        "label": "Text size",
        "default": 13
      },
      {
        "type": "range",
        "id": "t_s_md",
        "min": 10,
        "max": 50,
        "step": 1,
        "label": "Text size tablet",
        "default": 13,
        "info": "Breakpoint 991px ↓"
      },
      {
        "type": "color",
        "id": "t_c",
        "label": "Text color",
        "default": "#222222"
      },
      {
        "type": "select",
        "id": "t_fw",
        "label": "Text font weight",
        "default": "font-400",
        "options": [
          {"value": "font-300","label": "Light"},
          {"value": "font-400","label": "Regular"},
          {"value": "font-500","label": "Medium"},
          {"value": "font-600","label": "SemiBold"},
          {"value": "font-700","label": "Bold"},
          {"value": "font-800","label": "ExtraBold"},
          {"value": "font-900","label": "Black"}
        ]
      },
      {
        "type": "select",
        "id": "t_tt",
        "label": "Text transform",
        "default": "none",
        "options": [
          { "value": "capitalize", "label": "Capitalize" },
          { "value": "uppercase", "label": "Uppercase" },
          { "value": "none", "label": "None" }
        ]
      },
      {
        "type": "text",
        "id": "t_lh",
        "label": "Text line height",
        "default": "1.5"
      },
      {
        "type": "text",
        "id": "t_lt",
        "label": "Text letter spacing",
        "default": "0"
      },
      {
        "type":  "header",
        "content": "Design option"
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default":   true
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          {"value": "container", "label": "Container"},
          {"value": "container-fluid", "label": "Container fluid"},
          {"value": "container-full", "label": "Container full width"}
        ]
      },
      
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "range",
        "id": "bg_opacity",
        "min": 10,
        "max": 100,
        "step": 10,
        "label": "Background opacity",
        "default": 100
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "number",
        "id": "distance_top",
        "label": "Top spacing section (px)",
        "default": 30
      },
      {
        "type": "number",
        "id": "distance_bottom",
        "label": "Bottom spacing section (px)",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon",
            "default": "zmdi zmdi-flash",
            "info": "[Get the icon here](https:\/\/zavoloklom.github.io\/material-design-iconic-font\/icons.html)"
          },
          {
            "type": "richtext",
            "id": "t",
            "label": "Item text",
            "default": "<p>New Offers on the COVID-19. This Weekend only to Get 50% Flate</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Text Scroll",
        "category": "Text",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  {%- assign bg_image = sst.background_image -%}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top | append: 'px' }};
    padding-bottom: {{ sst.distance_bottom | append: 'px' }};
    {% if sst.background_color != blank %}
      background-color: rgba({{ sst.background_color | color_to_rgb | remove: 'rgb(' | remove: 'rgba(' | remove: ')' | remove: ', 0.0' }}, {{ sst.bg_opacity }}%);
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x' }}");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    {% endif %}
  }
  #shopify-section-{{ section.id }} .block-scroll {
    animation-duration: {{ sst.time | append:  's' }};
  }
  #shopify-section-{{ section.id }} .block-scroll__item {
    color: {{ sst.t_c }};
    font-size: {{ sst.t_s | divided_by: 10.0 | append: 'rem' }};
    line-height: {{ sst.t_lh }};
    letter-spacing: {{ sst.t_lt | append: 'px' }};
    text-transform: {{ sst.t_tt }};
  }
  #shopify-section-{{ section.id }} .block-scroll__item:after {
    background-color: {{ sst.t_c }};
  }
  @media(max-width: 991px) {
    #shopify-section-{{ section.id }} .block-scroll__item {
      font-size: {{ sst.t_s_md | divided_by: 10.0 | append: 'rem' }};
    }
  }
  @media(max-width: 575px) {
    #shopify-section-{{ section.id }} .distance {
      {%- if sst.distance_top > 20 -%}padding-top: {{ sst.distance_top | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
      {%- if sst.distance_bottom > 20 -%}padding-bottom: {{ sst.distance_bottom | times: 0.7 | round: 0 | append: 'px' }};{%- endif -%}
    }
  }
</style>